body{
    background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: 1370px 795px;
    background-attachment: fixed;
    margin: 0;
}

#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
   
  }

  #grid > div {
    background-color: white;
    border-radius: 50%;
}

#grid div:hover{
    opacity: 0;
}