div.loginform{
    background-color: aqua;
    max-width: 150px;
    max-height: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid blue;
    line-height: 2.0cm;
    margin:0 auto;


}